.singleChart {
    width: 33%;
    justify-content: space-around;
}

.circularChart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circleBg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.orange .circle {
    stroke: #ff9f00;
}

.green .circle {
    stroke: #4CC790;
}

.red .circle {
    stroke: #df3c3c;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}