.card {
    height: 200px;
    /* can alter height here */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align items vertically in the middle */
    align-items: center;
    /* allign items horizontally in the middle */
}